<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h2>List of cities</h2>

<table>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Population</th>
    </tr>

    <tr th:each="city : ${cities}">
        <td th:text="${city.id}">id</td>
        <td th:text="${city.name}">name</td>
        <td th:text="${city.population}">price</td>
    </tr>

</table>

</body>
</html>